/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
}

.bghome {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  max-width: 100%;
}

.bghomesm {
  display: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

.header {
  height: 90vh;
  position: relative;
}

.top {
  width: 71px;
  height: 71px;
  text-align: center;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  line-height: 71px;
  background: #56C4C5;
  color: #fff;
  font-size: 20px;
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-weight: bolder;
  z-index: 1;
}

.top:hover {
  background: #69cbcc;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1088px;
  padding: 24px 0px;
  margin-bottom: 30px;
}

.logo img {
  max-width: 215px;
}

.pg2btn {
  width: 128px;
  background: #FF5D50;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 32px;
  border-radius: 22px;
}

.pg2btn:hover {
  background: #ff756a;
}

.pg2btn2 {
  display: inline-block;
  font-family: 'Comfortaa';
  background: #56C4C5;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 32px;
  border-radius: 27px;
}

.pg2btn2:hover {
  background: #69cbcc;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 217px;
}

.hero h4 {
  color: #56C4C5;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

.hero h2 {
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
  color: #221E1F;
  margin-bottom: 16px;
}

.hero p {
  font-size: 20px;
  line-height: 29px;
  color: #221E1F;
}

.intro, .banner {
  width: 50%;
}

.title {
  font-size: 32px;
  line-height: 46px;
  color: #221E1F;
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cscard {
  width: 33%;
  color: #221E1F;
  text-align: center;
  margin-bottom: 100px;
}

.cscard img {
  max-width: 90px;
  margin-bottom: 24px;
}

.cscard h3 {
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 24px;
}

.cscard h4 {
  font-size: 16px;
  line-height: 24px;
  color: #747474;
}

.role {
  text-align: center;
}

.role p {
  font-size: 20px;
  line-height: 29px;
  margin-top: -32px;
  margin-bottom: 48px;
}

.rolecard {
  width: 23%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 100px;
}

.rolecard img {
  border-radius: 12px 12px 0px 0px;
}

.rolecard h3 {
  color: #56C4C5;
  margin-top: 16px;
}

.rolecard p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.feature .intro {
  width: 40%;
}

.feature .intro h2 {
  font-size: 32px;
  line-height: 46px;
}

.feature .intro p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
  margin-top: 16px;
}

.feature .list {
  max-width: 554px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featurecard {
  width: 230px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 32px 48px 32px;
  margin-bottom: 28px;
  margin-right: 47px;
}

.featurecard h3 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

.featurecard p {
  font-size: 16px;
  line-height: 24px;
}

.imgcard {
  width: 86px;
  height: 86px;
  text-align: center;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  line-height: 86px;
  padding: 15px;
  margin-bottom: 24px;
}

.user {
  margin-bottom: 100px;
}

.user .title {
  margin-bottom: 104px;
}

.usercard {
  position: relative;
  width: 352px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 48px 32px 28px 32px;
  margin-bottom: 24px;
}

.usercard p, .usercard h4 {
  font-size: 16px;
  line-height: 24px;
  color: #221E1F;
}

.usercard h4 {
  margin-bottom: 8px;
}

.usercard .bb {
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.photo {
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  line-height: 80px;
  position: absolute;
  left: 32px;
  top: -56px;
}

.starlist {
  width: 122px;
  height: 17px;
  position: absolute;
  bottom: 28px;
  right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.star {
  width: 17px;
  height: 17px;
}

.togglebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle_d {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ddd;
  margin-right: 8px;
}

.toggle_s {
  width: 16px;
  height: 10px;
  background: #FFD153;
  border-radius: 50px;
}

.cp {
  cursor: pointer;
}

.footer {
  height: 503px;
  padding-top: 260px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.footer h2 {
  font-size: 32px;
  line-height: 46px;
  color: #221E1F;
  margin-bottom: 48px;
}

.copyright {
  background: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
}

.copyright p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #221E1F;
}

@media (max-width: 767px) {
  .header_top {
    padding: 24px 20px;
    border-bottom: 2px solid #FFD153;
    background: #fff;
  }
  .logo img {
    max-width: 180px;
  }
  .container {
    padding: 20px;
  }
  .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
  }
  .rolecard {
    width: 48%;
    -webkit-box-shadow: 0px 2px 10px #00000014;
            box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
  }
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature .intro {
    text-align: center;
    width: 100%;
  }
  .feature .intro h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .feature .intro p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .feature .list {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featurecard {
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .intro, .banner {
    width: 100%;
  }
  .cscard {
    width: 100%;
  }
  .usercard {
    margin-bottom: 75px;
  }
  .user .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hide {
    display: none;
  }
  .footer {
    background-size: cover;
  }
  .footer h2 {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 24px;
  }
}

@media (max-width: 376px) {
  .header {
    height: 80vh;
  }
  .container {
    max-width: 335px;
    margin: 0 auto;
    padding: 0px;
  }
  .bghome {
    display: none;
  }
  .bghomesm {
    display: block;
    position: absolute;
    top: 390px;
    right: 20px;
    z-index: -1;
    max-width: 100%;
  }
  .logo img {
    max-width: 130px;
  }
  .hero {
    margin-bottom: 60px;
  }
  .hero h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .hero h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .hero p {
    font-size: 16px;
    line-height: 24px;
  }
  .title {
    font-size: 28px;
    line-height: 40px;
  }
  .cs {
    margin-bottom: 60px;
  }
  .cscard {
    margin-bottom: 24px;
  }
  .cscard img {
    width: 60px;
    margin-bottom: 16px;
  }
  .cscard h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  .role {
    margin-bottom: 36px;
  }
  .role p {
    font-size: 18px;
    line-height: 26px;
    margin-top: -32px;
    margin-bottom: 32px;
  }
  .rolecard {
    width: 260px;
    -webkit-box-shadow: 0px 2px 10px #00000014;
            box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .rolecard p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 16px;
    padding: 0px 16px;
  }
  .feature .intro {
    text-align: center;
    width: 100%;
  }
  .feature .intro h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .feature .intro p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .feature .list {
    margin-bottom: 60px;
  }
  .featurecard {
    padding: 32px 41px 48px 24px;
    margin-bottom: 24px;
  }
  .featurecard h3 {
    margin-bottom: 20px;
  }
  .user {
    margin-bottom: 60px;
  }
  .user .title {
    margin-bottom: 88px;
  }
  .footer {
    background-size: contain;
    height: 461px;
    padding-top: 293px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
  }
  .top {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    -webkit-box-shadow: 0px 2px 10px #00000014;
            box-shadow: 0px 2px 10px #00000014;
    line-height: 50px;
    font-size: 15px;
  }
}

.bannerbg {
  position: absolute;
  top: 0px;
  background: #f7f9fd;
  width: 100vw;
  right: 0px;
  height: 470px;
  border-radius: 0px 0px 0px 300px;
  z-index: -5;
}

.bg01 {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -3;
}

.bg02 {
  display: none;
}

.header2 {
  height: 50vh;
  padding-top: 92px;
  position: relative;
  margin-bottom: 100px;
}

.header2 h2 {
  font-size: 48px;
  line-height: 70px;
  color: #221E1F;
  margin-bottom: 16px;
}

.header2 p {
  font-size: 16px;
  line-height: 24px;
}

.plan {
  margin-bottom: 100px;
}

.planbtnlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 64px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plancontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 21px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plancard {
  text-align: center;
  width: 444px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
}

.plancard h3 {
  display: block;
  padding: 10px 29px;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  color: #221E1F;
  border-bottom: 2px solid #ddd;
}

.plancard p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #221E1F;
}

.plancard .tip {
  margin-bottom: 32px;
}

.formula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.formula h2 {
  font-size: 29px;
  line-height: 42px;
  font-weight: normal;
}

.block {
  padding: 24px 39px;
  background: #f5f5f5;
  border-radius: 12px;
  text-align: center;
}

.block span {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 8px;
}

.block p {
  font-size: 32px;
  line-height: 35px;
}

.block sub {
  font-size: 12px;
  line-height: 17px;
  margin-left: 8px;
}

.block .useramount {
  color: #56C4C5;
}

.check {
  list-style-position: inside;
  text-align: left;
  margin-bottom: 32px;
  list-style-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg");
}

.check p {
  display: inline;
}

.check li {
  margin-bottom: 16px;
}

.wrap {
  padding: 32px 29px;
}

.QAlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.QA {
  margin-bottom: 100px;
}

.QAitem {
  width: 904px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin-bottom: 16px;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 28px;
  color: #221E1F;
  position: relative;
}

.QAitem img {
  position: absolute;
  top: 19px;
  right: 32px;
  cursor: pointer;
}

.QAitem h3 {
  font-size: 18px;
  line-height: 28px;
  color: #56C4C5;
  margin-bottom: 24px;
}

.QAitem p {
  font-size: 16px;
  line-height: 32px;
  color: #747474;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .plancontent {
    gap: 24px;
  }
  .plancard {
    width: 335px;
    -webkit-box-shadow: 0px 2px 10px #00000014;
            box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
  }
  .plancard .tip {
    margin-bottom: 24px;
  }
  .block {
    padding: 26px 24px;
  }
  .block p {
    font-size: 28px;
    line-height: 32px;
  }
  .block sub {
    margin-left: 4px;
  }
  .formula {
    gap: 6px;
    margin-bottom: 27px;
  }
  .formula h2 {
    font-size: 24px;
    line-height: 35px;
  }
  .check p {
    font-size: 14px;
    line-height: 20px;
  }
  .plan {
    margin-bottom: 60px;
  }
  .wrap {
    padding: 24px 16px;
  }
}

@media (max-width: 376px) {
  .bannerbg {
    height: 600px;
  }
  .bg01 {
    display: none;
  }
  .bg02 {
    display: block;
    position: absolute;
    right: -20px;
    top: -30px;
    z-index: -3;
  }
  .header2 {
    padding-top: 48px;
    height: 70vh;
    margin-bottom: 60px;
  }
  .header2 h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .QAitem {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  .QAitem img {
    top: 20px;
    right: 17px;
    width: 16px;
  }
  .QAitem h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .QAitem p {
    margin-bottom: 8px;
  }
  .QAitem .QA {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=all.css.map */